.header-container {
    position: fixed;
    width: calc(100% - 200px);
    padding: 50px;
    top: 0;
    justify-content: space-between;
    .logo {
        z-index: 100;
        img {
            width: 80px;
            cursor: pointer;
        }
    }
    .menu {
        height: 50px;
        width: 50px;
        padding-left: 70px;
        gap: 2.5px;
        border-radius: 25px;
        background: white;
        z-index: 100;
        cursor: pointer;
        padding-right: 10px;
        position: relative;
        transition: .5s;
        .bar {
            width: 30px;
            height: 1.8px;
            transition: .3s;
            background: black;
        }
    }
    .menu::after  {
        content: attr(data-after);
        position: absolute;
        left: 20px;
        font-weight: 600;
        font-size: .7rem;
        z-index: 100;
    }
    .main-menu {
        top: 120px;
        position: fixed;
        right: 100px;
        overflow: hidden;
        border-radius: 50px;
        transition: .5s;
        .top-menu {
            padding: 20px;
            padding-bottom: 30px;
            background: white;
            transition: .5s;
            z-index: 1000000;
          .navs {
            gap: 10px;
            .nav {
                width: 80px;
                height: 80px;
                border: 1px solid #80808090;
                border-radius: 40px;
                font-size: 1.5rem;cursor: pointer;
            }
          }
        }
       
    }
}