.top-container {
    height: 100vh;
    width: calc(100% - 100px);
    padding-left: 50px;
    padding-right: 50px;
    .left-intro {
        align-items: start;

        h1 {
            font-size: 10rem;
            line-height: 140px;
            font-weight: 900;
            text-align: center;
        }
    }

    .bottom-container {
        position: absolute;
        bottom: 50px;
        right: 50px;
        gap: 20px;
        border: 1px solid #80808090;
        padding: 10px;
        border-radius: 50px;
        z-index: -1;
        p {
            text-align: justify;
            font-size: .8rem;
            color: black;
            text-transform: capitalize;
            max-width: 480px;
            padding-left: 20px;
        }

        .arrow-bottom {
            width: 60px;
            height: 60px;
            bottom: 50px;
            left: 50px;
            background: white;
            border-radius: 50%;

            .icon {
                font-size: 1.2rem;
            }
        }
    }
}

.how-it-works {
    width: 100%;
    height: 100vh;
    h1 {
        font-size: 5rem;
        font-weight: 900;
        span {
            color: transparent;
            -webkit-text-stroke: 1px black;
        }
    }
    .cards {
        width: calc(100% - 200px);
        justify-content: space-between;
        margin-top: 50px;
        flex-wrap: wrap;
        .card {
            width: calc(100% / 3.02);
            height: 350px;
            border-radius: 20px;
            background: white;
            gap: 10px;
            p {
                max-width: 80%;
                text-align: center;
            }
            h2 {
                text-transform: capitalize;
                font-weight: 900;
            }
            button {
                width: 200px;
                padding-left: 30px;
                padding-right: 10px;
                height: 60px;
                justify-content: space-between;
                border-radius: 30px;
                border: none;
                margin-top: 20px;
                cursor: pointer;
                .icon {
                    width: 45px;
                    height: 45px;
                    background: white;
                    border-radius: 25px;
                    border: 1px solid #80808090;
                }
            }
        }
        .card:nth-child(2) {
            background: rgba(65, 105, 225, 0.3);
        }
        .card:nth-child(3) {
            background: rgba(255, 166, 0, 0.3);
        }
    }
}

.why-choose-us {
    width: calc(100% - 200px);
    min-height: 100vh;
    h1 {
        font-weight: 900;
        font-size: 5rem;
    }
    p{
        max-width: 1000px;
        text-align: center;
        margin-top: 10px;
    }
    .cards {
        width: 100%;
        flex-wrap: wrap;
        margin-top: 50px;
        justify-content: space-between;
        .card {
            width: calc(100% / 3.02);
            height: 350px;
            border-radius: 20px;
            background: white;
            gap: 10px;
            p {
                max-width: 80%;
                text-align: center;
            }
            h2 {
                text-transform: capitalize;
                font-weight: 900;
            }
            button {
                width: 200px;
                padding-left: 30px;
                padding-right: 10px;
                height: 60px;
                justify-content: space-between;
                border-radius: 30px;
                border: none;
                margin-top: 20px;
                cursor: pointer;
                .icon {
                    width: 45px;
                    height: 45px;
                    background: white;
                    border-radius: 25px;
                    border: 1px solid #80808090;
                }
            }
        }
        .card:nth-child(2) {
            background: rgba(65, 105, 225, 0.3);
        }
        .card:nth-child(1) {
            background: rgba(255, 166, 0, 0.3);
        }   
    }
}

.subscription {
    .cards {
        .card {
            transition: .3s;
            position: relative;
            height: 650px;
            button {
                width: 80% ;
                position: absolute;
                bottom: 20px;
            }
            h2 {
                position: absolute;
                top: 50px;
                sup{
                    font-weight: 500;
                }
            }
            ul {
                position: absolute;
                top: 120px;
                left: 10%;
                li {
                    max-width: 90%;
                    text-align: justify;
                    list-style: none;
                }
            }
        }
        .card:nth-child(2) {
            margin-bottom: 100px;
        }
        .card:hover {
            transform: translateY(-100px);
        }
    }
}